.form-rounded {
    border-radius: 0.5rem;
    }

.form-flat {
    border-radius:50%;
    }

.form-row {
    display: flex;
}

.orange {
    background-color: orange;
}

.input-group {
    display: flex;
}
.side{
    display:inline-block;
}


.container {
    border-radius:1px;
    max-width:800px
}

Form {
    border-radius: 20px;
}

.button-1 {
   /* margin-right: 25%; */
}

.button-2 {

}






